@import 'root.css';

.Popup
{
  position: fixed;
  display: block;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: opacity .2s, transform .2s, top .2s, left .2s;
  outline: none;
  z-index: 100;
}
.Popup > .Inner
{
  background: var(--popup-bg-color);
  box-shadow: var(--popup-box-shadow);
  border-radius: var(--control-border-radius);
}
.Popup[aria-hidden=false]
{
  opacity: 0;
  transform: translateY(1em);
}
.Popup[aria-hidden=true]
{
  opacity: 0;
}
